.app {
  display: flex;
  flex-direction: column;
  height: 380px;
  align-items: center;
  justify-content: space-between;
  
}

.headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.brush-selection {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.paint {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.palette {
  display: flex;
  margin-left: -30px;
}

.brush {
  display: flex;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 35px;
  height: 35px;
  border: 1px solid black;
}

.canvas {
  display: grid;
  width:490px;
  height:980px;
  grid-template-rows: repeat(49, 10px);
  grid-template-columns: repeat(49, 10px);
  border: 1px solid black;
  background-image: url(./colouring.png);
  background-size: 490px 490px;
}

.square {
  transition: 0.5s;
  
}

.color-1{
  background: red;
}
.color-2{
  background: blue;
}
.color-3{
  background: green;
}
.color-4{
  background: yellow;
}
.color-5{
  background: pink;
}

#button-box {
  margin-bottom: -500px;
}
#reset {
  border: solid black;
  background: red;
  float: inline-end;
}
/* #reset:hover {
  font-size: 30px;
} */

p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;


}

